.btn { font-size: 16px; border: none;  @include CommonFlex(inline-flex, center, center, null); background: $PrimaryColor; font-family: 'Inter', sans-serif; border-radius: 3px;
    img{margin-left: 1.2rem;}
    &.btn-primary { color: $WhiteColor;
        &:hover { background: $SecondaryColor; color: $WhiteColor; }
    }
}