.quam-footer{background: $SecondaryColor;color: $WhiteColor;
    .container{display: flex;align-items: center;justify-content: space-between;padding: 2.3rem 0;}
    ul{margin: 0;list-style: none;display: flex;align-items: center;}
    .quick-links{display: flex; align-items: center;
        p{font-size: 14px;font-family: 'Inter', sans-serif;color: $WhiteColor;margin: 0;}
        ul{
            li{padding-left: 2rem;margin-left: 2rem;border-left: 1px solid #949CA0;
                a{font-size: 16px;color: $WhiteColor;opacity: 0.8;font-family: 'Inter', sans-serif;font-weight: 300; transition: 0.3s;
                    &:hover{color: $PrimaryColor;}
                }
            }
        }
    }
    .social-links{
        ul{
            li{margin-left: 4.7rem;
                a{
                    img{transition: 0.3s;}
                    &:hover img{transform: scale(1.2);}
                }
            }
        }
    }
}